:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
    /* position: relative; */
} 


.board_con {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    height: 75vh;
    width: 100%;
}

.board {display: grid; grid-template-columns: repeat(3,100px);
   background-color: blueviolet;
   height: auto;
   border-radius: 5px;
   width: auto;
}
        .cell {width: 100px; height: 100px; text-align: center; line-height: 100px; border: 1px solid black; font-size: 24px;}
        .video-background {
    position: fixed; /* Keeps video in the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Makes sure the video stays behind other content */
    overflow: hidden;
}

.video-background video {
    object-fit: cover; /* Ensures the video covers the entire screen */
    width: 100%;
    height: 100%;
}
#message {
 color: blueviolet;
 font-size: auto;
}
.msg-holder{
    background-color: rgb(7, 28, 87);
    height: auto;
    width: 40%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blueviolet;
}


.nav-bar {
    width: 95%;
    height: auto;
    display: flex;
    padding: 7px;
    justify-content: space-between;
    align-items: center;
    /* background-color: black; */
}

.btn-holder {
    height: 100px;
    width: 30%;
    display: flex;
   justify-content: center;
   align-items: center;
   /* background-color: blue; */
}

.time-holder {
    height: 80px;
    width: 20%;
    display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(7, 28, 87);
   border-radius: 50%;
}

.time-holder p {
    font-size: 25px;
}

.btn-holder button {
    height: 60px;
    width: 50%;
    background-color: rgb(7, 28, 87);
    border: 1px solid blueviolet;
    border-radius: 5px;
    margin: 5px;
    color: blueviolet;
}


.container-desc {
    /* background-color: black; */
    width: 70%;
    margin: 0 auto;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.desc {
height: auto;
width: 50%;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.con {
    width: auto;
    height: auto;
}
.desc p {
    font-size: 23px;
    text-align: center;
    color: white;
}

.main-con-room-form {
    width: 100%;
    height: 100vh;
    position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transition: all 0.5s ease-in-out;
}


.room-form-name {
    width: 100%;
    /* background-color: #242424; */
    height: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.x {
    background-color: rgba(122, 19, 218, 0.671);
    height: 70px;
    width: 70px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.x1 {
    height: 4px;
    width: 41px;
    background-color: rgb(97, 9, 9);
    margin: 3px;
    transform: rotate(45deg);
}

.x2 {
    height: 4px;
    width: 42px;
    background-color: rgb(85, 70, 70);
    transform: rotate(-45deg);
}

.create-room-form-con {
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
    background-color:  rgb(7, 28, 87);
    border-radius: 5px;
} 

.create-room-title {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-room-title p {
    font-size: 20px;
}

#form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form input {
 height: 50px;
 width: 60%;
 border-radius: 5px;
 border: 3px rgb(100, 56, 150) solid;
 margin: 10px;
 background: transparent;
 color: white;
 padding: 10px;
 font-size: 20px;
}

#form input::placeholder {
    color: white;
}

.form-btn {
    width: 60%;
    height: 50px;
    background-color: rgb(100, 56, 150);
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.form-btn:hover{
background-color: transparent;
transition: all .25s ease;
border: 2px solid rgb(100, 56, 150);
border-radius: 4px;
}

.join-room-form-con {
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    background-color:  rgb(7, 28, 87);
    border-radius: 5px;
    flex-direction: column;
}


@media screen and (max-width: 750px) {
    .msg-holder {
        height: 70px;
    }
    #message {
        font-size: 20px;
    }
    .desc {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .msg-holder {
        height: 65px;
    }
    #message {
        font-size: 17px;
    }
    .desc p {
        font-size: 18px;
    }
}